<div class="text-section">
  <p *ngIf="gameData.activeUser === 2">Opposite user Turn</p>
</div>

<section class="game-section" [ngClass]="{ 'game-section--disabled': gameData.isFinished}">
  <div class="user2-collected">{{ gameData.user2Collected }}</div>
  <div class="items-section">
    <div class="items">
      <ng-container *ngFor="let item of gameData.user2; let i = index">
        <div class="item" [ngClass]="{'item--active': gameData.activeUser === 2, 'item--hover': item > 0}"
             (click)="clickUser2Item(i)"> {{ item }} </div>
      </ng-container>
    </div>
    <div class="items">
      <ng-container *ngFor="let item of gameData.user1; let i = index">
        <div class="item" [ngClass]="{
        'item--active': gameData.activeUser === 1,
        'item--hover': gameData.user1[gameData.user1.length-i-1] > 0}"
             (click)="clickUser1Item(gameData.user1.length-i-1)">
          {{ gameData.user1[gameData.user1.length-i-1] }} </div>
      </ng-container>
    </div>
  </div>
  <div class="user1-collected">{{ gameData.user1Collected }}</div>
</section>

<div class="text-section">
  <p *ngIf="gameData.activeUser === 1">Your Turn</p>
  <ng-template [ngIf]="gameData.isFinished">
    <p *ngIf="gameData.isWinner">You are winner</p>
    <p *ngIf="!gameData.isWinner">You are loser</p>
  </ng-template>
</div>

